<!--<div class="container">
<nav class="navbar navbar-default" *ngIf="logged">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">KIIL ALL ZOMBI</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a  >userInfo</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li><a class="logout" (click)="onLogout()">logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
     <router-outlet></router-outlet>
</div>-->

<router-outlet></router-outlet>

